---
import "../styles/global.css";

import Navbar from "@/components/navbar/navbar";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<!doctype html>
<html
  lang={lang}
  dir={lang === "fa" ? "rtl" : "ltr"}
  class={`scroll-smooth ${lang === "fa" ? "vazirmatn" : "roboto"}`}
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{t("nav.title")}</title>
    <Navbar url={Astro.url} client:load />
  </head>
  <body>
    <slot />
  </body>
</html>
